$colorPrincipal:hsl(0, 0%, 97%);
$colorSecont:hsl(0, 0%, 100%);
$colorThree:  hsl(245, 41%, 51%);
$colorThreeAlt: hsla(245, 73%, 69%, 0.49);
$colorFour: hsl(131, 72%, 66%);
$colorSecontFour: hsl(131, 74%, 93%);


$colorText:hsl(0, 0%, 27%);
$colorTextSecont:hsl(0, 0%, 44%);


